
/* START menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border-top: 1px solid #e3dedb ;
    border-bottom: 1px solid #e3dedb ;

  }
  
  li {
    float: left;
    margin-right: 5px;
  }
  
  li a {
    display: block;
    color: #214377;
    text-align: center;
    padding: 15px 14px 5px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    border-bottom: solid 1px; 
    border-bottom-color: #d9e6f9;
    cursor: pointer;
  }
  
  .active {
    border-bottom: solid 1px; 
    border-bottom-color: #d45500;
  }
/* END menu */

h1 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0px;
}
h2 {
    margin-top: 0%;
}
.logo-container {
    width: 150px;
    margin-left: 5%;
}

body {
    min-width:800px;
    margin: 0px;
}

.tab-body {
    margin: 2%;
}

.logo {
    float: left;
    width: 25px;
    margin-right: 5%;
}

.column {
    float: left;
    width: 50%;
  }

  #result {
      display: none;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Bounding Box Display */
  table#bbox-display td {
    position: relative;
  }
  table#bbox-display tr {
    height: 40px;
  }
  table#bbox-display div {
    position: absolute;
  }
#bbox-nw {
    right:0; bottom: 0;
}
#bbox-ne {
    left:0; bottom: 0; 
}
#bbox-sw {
    right:0; top:0;
}
#bbox-se {
    left:0; top:0;
}
#bbox {
    border: 1px solid black; 
    width: 70px
}

/* Description Tables */
.scroll {
    height: 300px;
    overflow-y: scroll;
}
th {
	text-align:left;
    background: #d9e6f9;
    padding:3px;
}
.output-table {
	width: 100%;
    font-size: .8em;
}
